[submodule "Where-is-the-Arrow-Pointing/moul"]
	path = Where-is-the-Arrow-Pointing/moul
	url = https://github.com/moul/witap
	branch = master
[submodule "Where-is-the-Arrow-Pointing/zigazou"]
	path = Where-is-the-Arrow-Pointing/zigazou
	url = https://github.com/Zigazou/ArrowPointing
	branch = master
[submodule "Where-is-the-Arrow-Pointing/gnieark"]
	path = Where-is-the-Arrow-Pointing/gnieark
	url = https://github.com/gnieark/Where-is-the-Arrow-Pointing.git
[submodule "sapin/moul"]
	path = sapin/moul
	url = https://github.com/moul/go-sapin
	branch = master
