[submodule "Where-is-the-Arrow-Pointing/moul"]
	path = Where-is-the-Arrow-Pointing/moul
	url = https://github.com/moul/witap
	branch = master
[submodule "Where-is-the-Arrow-Pointing/zigazou"]
	path = Where-is-the-Arrow-Pointing/zigazou
	url = https://github.com/Zigazou/ArrowPointing
	branch = master
[submodule "Where-is-the-Arrow-Pointing/gnieark"]
	path = Where-is-the-Arrow-Pointing/gnieark
	url = https://github.com/gnieark/Where-is-the-Arrow-Pointing.git
[submodule "sapin/moul"]
	path = sapin/moul
	url = https://github.com/moul/sapin
	branch = master
[submodule "sapin/moebiuseye"]
	path = sapin/moebiuseye
	url = https://github.com/moebiuseye/challenge-sapin
	branch = master
[submodule "wookie à poil dur/moul"]
	path = wookie à poil dur/moul
	url = https://github.com/moul/wookie
	branch = master
[submodule "shikaku/moul"]
	path = shikaku/moul
	url = https://github.com/moul/shikaku
	branch = master
[submodule "morpionsFights/moul"]
	path = morpionsFights/moul
	url = https://github.com/moul/tictactoe
	branch = master
[submodule "morpionsFights/gnieark"]
	path = morpionsFights/gnieark
	url = git@github.com:gnieark/tictactoeChallenge.git
[submodule "sudoku/moul"]
	path = sudoku/moul
	url = https://github.com/moul/sudoku
	branch = master
[submodule "sudoku/zigazou"]
	path = sudoku/zigazou
	url = https://github.com/zigazou/Sudoku
[submodule "sudoku/gnieark"]
	path = sudoku/gnieark
	url = https://github.com/gnieark/sudoku.git
